@media screen and (max-width: 480px) {
    .col-margin-mod {
        margin-top: 40px;
    }
}
@media screen and (min-width: 490px) {
    .col-margin-mod {
        margin-top: 40px;
    }
}
@media screen and (min-width: 502px) {
    .col-margin-mod {
        margin-top: 40px;
    }
}
@media screen and (min-width: 600px) {
    .col-margin-mod {
        margin-top: 40px;
    }
}
@media screen and (min-width: 768px) {
    .col-margin-mod {
        margin-top: 40px;
    }
}
@media screen and (min-width: 900px) {
    .col-margin-mod {
        margin-top: 40px;
    }
}
@media screen and (min-width: 1024px) {
    .col-margin-mod {
        margin-top: 40px;
    }
}
@media screen and (min-width: 1200px) {
    .col-margin-mod {
        margin-top: 40px;
    }
}

.full-col-modifier {
	padding: 0 !important;
}

.col-left-stepper-max-width{
    max-width: 150px;
}