@import "../variables.scss";

.navbar-bg-mod {
    background-color: $navbar-bg-color;
}

.navbar-font-color-mod {
    color: $navbar-font-color;
}

.navbar-padding {
    padding: .5rem 2rem !important;
}