<!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark"> -->
<nav class="navbar navbar-expand-md fixed-top navbar-dark navbar-bg-mod navbar-padding">
    <a class="navbar-brand navbar-font-color-mod" href="javascript:void(0);">
        <img src="assets/img/africanbank-logo-white.svg" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngFor="let item of menuItems; let index=index" [id]="index" [class.active]="item.isCurrent" [class.disabled]="item.isDisabled">
            <a class="nav-link navbar-font-color-mod" href="javascript:void(0);"  [routerLink]="[item.link]"> {{item.name}} </a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        -->
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>