
  <div class="container-fluid">
      <app-navbar [menuItems]="menuItems"></app-navbar>
    
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-2-auto col-margin-mod col-left-stepper-max-width"><app-left-side-stepper></app-left-side-stepper></div>
            <div class="col-7 col-margin-mod">
                <router-outlet (activate)="onactivate($event)"></router-outlet>
            </div>
            <div class="col-3 col-margin-mod">
                <app-right-side-content></app-right-side-content>      
            </div>
          </div>          
      </div>
        
      </div>
  </div>


